 langchain 
 langchain-community 
 langchain-HuggingFace
 langchain-text-splitters
 beautifulsoup4 
 faiss-cpu 
 chromadb 
 validators 
 sentence_transformers 
 typing-extensions
 unstructured 
 gradio
 boto3