langchain 
langchain-community 
langchain-HuggingFace
langchain-text-splitters
langchain_google_community
beautifulsoup4 
faiss-cpu 
chromadb 
validators 
sentence_transformers 
typing-extensions
unstructured
unstructured[pdf]
gradio
boto3
rich
sqlmodel
git+https://github.com/almutareb/InnovationPathfinderAI.git